<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=100%, initial-scale=1">
    <title>Chat with Lei Yang</title>
    <link href="css/main.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <!-- Start -->
    <div id="mobile" :class="{ 'has-prompt': hasPrompt }">
      <div id="mobile-head">
        <div id="mobile-head-title">Talking to Lei</div>
      </div>


      <div id="mobile-body">
        <div id="mobile-body-bg"></div>
        <div id="mobile-body-content">
          <!--<div class="msg-time">21:40</div>-->
          <div id="mock-msg-row" class="msg-row">
            <div id="mock-msg" class="msg" v-html="latestMsgContent"></div>
          </div>
          <div class="msg-row"
            v-for="(msg, index) in messages"
            :key="index"
            :class="msg.author === 'lei' ? 'msg-lei' : 'msg-me'">
            <div class="msg"
            :class="'msg-bounce-in-' + (msg.author === 'lei' ? 'left': 'right')"
            :style="msg.width && msg.height && {width: msg.width - 26 + 'px', height: msg.height - 18 + 'px'}"
            v-html="msg.content"></div>
          </div>
        </div>
      </div>


      <div id="mobile-foot">
        <div id="prompt">

          <div id="prompt-head">
            <div class="say-something">Say something……</div>
            <a href="javascript:;" class="close-btn"
              v-on:click="togglePrompt(false)"></a>
          </div>

          <div id="prompt-body">

            <ul class="responses" v-if="lastDialog">
              <li v-for="res in lastDialog.responses">
                <a href="javascript:;" v-on:click="respond(res)">{{ res.content }}</a>
              </li>
            </ul>

            <!-- Topic Blocks, no responses to reply back -->
            <div class="next-topic"
              v-if="!lastDialog || !lastDialog.responses">
              <ul class="topics">
                <li v-for="topic in nextTopics">
                  <a href="javascript:;" v-on:click="ask(topic)">{{ topic.brief }}</a>
                </li>
              </ul>
            </div>

          </div>

        </div>


        <div id="input-hint" class="say-something"
          v-on:click="togglePrompt(true)"
          :class="{'clickable': !isLeiTyping }">
          <span v-if="!isLeiTyping">Say something……</span>
          <span v-if="isLeiTyping">Lei is typing……</span>
        </div>


      </div>
      <div id="prompt-bg" v-on:click="togglePrompt(false)"></div>

    </div>
    <!-- End -->

    <div class="extra-link" id="meta-link">
      <a class="letters" href="../">
        Site
      </a>
      <a class="letters" href="https://github.com/raymondlei90s/raymondlei90s.github.io" target="_blank">
        Source
      </a>
      <a class="letters" href="./blog" target="_blank">
        Blog
      </a>
    </div>

    <script src="lib/zepto.min.js"></script>
    <script src="lib/vue.min.js"></script>
    <script src="js/index-min.js"></script>

    <!-- Google Analytics -->
  </body>
</html>
